.buscador
	width: 100%
	height: 250px
	padding: 100px
	background-image: url("../images/cover.jpg")
	background-size: cover
	text-align: center
	input 
		width: 75%
		height: 60px
		padding: 20px
		border: none
		border-radius: 30px
		font-size: 25px

.encabezado--con-filtros
	display: flex
	padding: 0 20px
	justify-content: space-between
	.filtros
		width: 150px
		display: flex
		justify-content: space-between

.contenido
	width 95%
	margin: 50px auto
	display: flex
	justify-content: space-between
	column-gap: 70px
	.caja
		width 30vw
		box()
		&__imagen
			width: 200px
			img
				max-width: 100%
		.estadistica--articulos 
			margin: 20px 0 0 0
			ul
				padding: 0 15%
				display: flex
				justify-content: space-between