include ./components/variales.pug
include ./components/head.pug
doctype html
html(lang="es")
    +head("uso de prepos", "ico", "./css/ejercicio-pug.css")
    body 
        header 
            h1 Platzi Games
            if usuario
                a Hola #{usuario}
            else
                a.boton Registro
        section.intro
            div.intro__image
                img(src="./images/imagen.png")
            div.intro__contenido
                h2 #{titulos[0]}
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita veritati 
                span mas texto
                a.boton Leer más
        div.contenido
            each titulo in titulos
                +caja('imagen.png', titulo, 'texto prueba')
    footer 
        h3 este es el footer